.about {
    max-width: 900px;
    color: rgb(136, 140, 153);
    max-width: 80%;


    #allSubtitle {
        opacity: 0;
        animation: transitionBottom 0.8s ease-in-out 2.5s forwards;
    }

    .profil {
        display: flex;
        opacity: 0;
        animation: transitionBottom 0.8s ease-in-out 3.0s forwards;

    }

    .descriptionText {
        max-width: 650px;
        font-size: 120%;
        line-height: 150%;
    }

    .picture {
        position: absolute;
        width: 250px;
        height: 250px;
        top: 0;
        left: 0;
        border-radius: 2%;
        opacity: 1;
        z-index: 2;
    }

    .pictureDecoration {
        position: relative;
        width: 250px;
        height: 250px;
        margin: 20px;
    }

    .decoration {
        z-index: 1;
        margin: 20px;
        border: 2px solid #53d3b9;
        transition: margin 0.3s;
    }

    .picture:hover~.decoration {
        margin: 10px;
    }

    img {
        border-radius: 2%;
        height: 100%;
        width: 100%;
    }

    .languageSection {
        opacity: 0;
        animation: transitionBottom 0.8s ease-in-out 3.5s forwards;
    }

    .languageIntro {
        color: rgb(167, 167, 167);
        font-size: 140%;
    }

    #languageList {
        list-style: none;
    }

    .languages {
        font-family: monospace;
        font-size: 130%;
        list-style-type: none;
        display: flex;
        color: rgb(136, 140, 153);
    }

    #row {
        margin-right: 10%;
    }

    #triangleLanguage {
        color: #53d3b9;
    }

    @media all and (max-width: 1100px) {

        .picture {
            width: 60vw;
            height: 60vw;
            max-width: 250px;
            max-height: 250px;
            z-index: 2;
        }

        .pictureDecoration {
            width: 60vw;
            height: 60vw;
            max-width: 250px;
            max-height: 250px;
        }

        .decoration {
            z-index: 1;
        }


        .profil {
            display: flex;
            flex-direction: column-reverse;
        }

        .descriptionText {
            max-width: 400px;
            font-size: 120%;
            line-height: 150%;
        }
    }

    @media all and (max-width: 950px) {
        margin-left: 2vw;

        .languages {
            display: block;
        }
    }
}