.sideBar {
    .left {
        position: fixed;
        width: 30px;
        left: 0;
        bottom: 0;
        z-index: 7;
    }
    
    .right {
        position: fixed;
        width: 70px;
        bottom: 0;
        right: 0;
        z-index: 7;
    }
    
    #verticalLine {
        margin: 20px 0px 0px 37px;
        height: 180px;
        border-left: 2px solid rgb(110, 115, 131);
        opacity:0;animation: transitionOpacity 1s ease-in-out 2s forwards;
    }

    #githubLogo {
        fill: rgb(110, 115, 131) !important;
        margin-left: 24px;
        margin-top: 20px;
        transition: all 0.5s;
        opacity: 0;
        animation: transitionOpacity 1s ease-in-out 2.9s forwards;
    }
    
    #githubLogo:hover {
        fill: #53d3b9 !important;
        padding-bottom: 5px;
        margin-top: 15px;
    }
    
    #instagramLogo {
        fill: rgb(110, 115, 131) !important;
        margin-left: 24px;
        margin-top: 20px;
        transition: all 0.5s;
        opacity: 0;
        animation: transitionOpacity 1s ease-in-out 2.6s forwards;
    }
    
    #instagramLogo:hover {
        fill: #53d3b9 !important;
        padding-bottom: 5px;
        margin-top: 15px;
    }
    
    #linkedinLogo {
        fill: rgb(110, 115, 131) !important;
        margin-left: 24px;
        margin-top: 20px;
        transition: all 0.5s;
        opacity: 0;
        animation: transitionOpacity 1s ease-in-out 2.3s forwards;
    }
    
    #linkedinLogo:hover {
        fill: #53d3b9 !important;
        padding-bottom: 5px;
        margin-top: 15px;
    }
    
    .mailAdressLink{
        text-decoration: none;  
    }
    
    .mailAdress{
        color : rgb(110, 115, 131);
        font-family: monospace;
        font-size: 120%;
        padding-bottom: 3px;
        margin-bottom: 175px;
        transform: rotate(90deg);
        transition: margin-bottom 0.5s;
        opacity: 0;
        animation: transitionOpacity 1s ease-in-out 2.3s forwards;
    }
    
    .mailAdress:hover{
        color: #53d3b9;
        margin-bottom: 180px;
        
    }  

    @media all and (max-width: 800px)
    {
        .left {
            display: none;
        }
        
        .right {
            display: none;
        }
    }
}