body {
    padding: 0%;
    margin: 0%;
    background-color: #0c1c31;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: space-around;
}

#allSubtitle {
    display: flex;
    font-size: 200%;
}

#subtitle { 
    color: rgb(167, 167, 167);
}

#ligne {
    height: 20px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(110, 115, 131);
    width: 300px;
}

#titleNumber {
    padding-top: 1%;
    font-family: monospace;
    color: #53d3b9;
}

