body {
    padding: 0%;
    margin: 0%;
    background-color: #0c1c31;
    font-family: 'Montserrat', sans-serif;
    display:flex;
    justify-content: space-around;
}

#allSubtitle {
    display: flex;
    font-size: 200%;
}

#subtitle { 
    color: rgb(167, 167, 167);
}

#ligne {
    height: 20px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(110, 115, 131);
    width: 300px;
}

#titleNumber {
    padding-top: 1%;
    font-family: monospace;
    color: #53d3b9;
}

.parent {
    position: relative;
    width: 600px;
    height: 350px;
    margin: 10px;
}
.child1 {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 1;
}
.child2 {
    z-index: 3;
    background: rgb(85, 63, 138);
    opacity: 0.5;
    transition: opacity 0.5s;
}
  
img {
    height: 100%;
    width: 100%;
}

.child2:Hover {
    opacity: 0;
}