body {
    padding: 0%;
    margin: 0%;
    background-color: #0c1c31;
    font-family: 'Montserrat', sans-serif;
    display:inline-block;
}

#allSubtitle {
    max-width: 70%;
    display: flex;
    font-size: 200%;
}

#subtitle { 
    color: rgb(167, 167, 167);
}

#ligne {
    height: 20px;
    margin-left: 20px;
    border-bottom: 1px solid rgb(110, 115, 131);
    width: 300px;
}

#titleNumber {
    padding-top: 1%;
    font-family: monospace;
    color: #53d3b9;
}

@keyframes transitionOpacity {
    0%   { opacity:0; }
    100% { opacity:1; }
}

@keyframes transitionleft{
    0%   {margin-right:70px;opacity:0; }
    100% {margin-right:0px;opacity:1; }
}

@keyframes transitionRight{
    0%   {margin-left:70px;opacity:0; }
    100% {margin-left:0px;opacity:1; }
}

@keyframes transitionTop{
    0%   {margin-bottom:70px;opacity:0; }
    100% {margin-bottom:0px;opacity:1; }
}

@keyframes transitionBottom{
    0%   {margin-top:70px;opacity:0; }
    100% {margin-top:0px;opacity:1; }
}