@import "./settings";
@import "./components/about";
@import "./components/presentation";
@import "./components/works";
@import "./components/header";
@import "./components/sideBar";
@import "./components/contact";

