body {
    margin: 0px;
    padding: 0px;
}

#header {
    position: fixed;
    background-color: #0c1c31;
    left: 0;
    right: 0;
    top: 0;
    transition: top 0.3s;
    transition-delay: 0.2s;
}

lu {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin : 0px;
    padding : 0px 60px;
}

li {
    margin : 30px 30px;
    color : #b4c0de;
}
#headerNavItems {
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    background-color: #0c1c31 ;
    border : none;
}

#headerNavItems:hover {
    color : #53d3b9;
}
#headerNavItems #numberInNav {
    color : #53d3b9;
}

#header.hidden {
top: -80px;
}