body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #0c1c31;
}

lu {
    display: flex;
    justify-content: right;
    list-style-type: none;
    margin : 0px;
    padding : 0px 60px;
}

li {
    margin : 30px 30px;
    color : #b4c0de;
}
#headerNavItems {
    text-decoration: none;
    font-family: monospace;
    font-size: 15px;
    background-color: #0c1c31 ;
    border : none;
}

#headerNavItems:hover {
    color : #53d3b9;
}
#headerNavItems #numberInNav {
    color : #53d3b9;
}